Select the size of your crossword
<mat-form-field class="dimensionsForm">
  <mat-label>number of rows</mat-label>
  <mat-select matNativeControl required> 
    <mat-option *ngFor="let size of sizeOptions" [value]="size">
      {{size}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary">Primary</button>
