.cardDesign {
  direction: rtl;
  align-content: center;
}

.sameColDesign {
  display: flex;
  flex-direction: column;
}

.sameRowDesign {
  display: flex;
  flex-direction: row;
}

.inputs {
  width: 25px;
  height: 25px;
}
