<div class="cardDesign">
  <div *ngFor="let colIndex of numberOfInputsInRow" class="sameRowDesign">
    <div *ngFor="let rowIndex of numberOfInputsInRow" class="sameColDesign">
      <input type="text" maxlength="1" class="inputs"> 
    </div>
  </div>
</div>
